.wrapper {
  grid-column-start: 3;
  grid-column-end: -3;
  align-self: auto;
  display: block;
  grid-row-start: auto;
  grid-row-end: auto;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .case-wrap {
    border-radius: 32px;
    padding: 32px;
  }
}
.case-wrap {
  background-color: #fff;
  border: 1px solid #c5d6e0;
  border-radius: 20px;
  padding: 16px 20px;
}
.heading {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 28px;
  margin-top: 8px;
}
.prose p {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 34px;
}
.prose li {
  font-size: 18px;
  line-height: 1.56;
}
.prose li strong {
  font-weight: 500;
}
.subheading {
  font-size: 20px;
  font-weight: 300;
  margin: 12px 0;
}
