.wrapper {
  margin-top: 56px;
  background-color: white;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  background-color: #f7f7f7;
  border-radius: 12px;
  text-align: center;
}
.image {
  display: flex;
  justify-content: center;
  transform: translateY(-30px);
  padding-bottom: 20px;
}
.img-wrap {
  width: 80px;
}
@media only screen and (min-width: 768px) {
  .img-wrap {
    width: 140px;
  }
}
@media only screen and (min-width: 768px) {
  .heading {
    font-size: 3.4rem;
  }
  .description {
    padding: 10px 60px 50px;
  }
}
.heading {
  font-size: 2rem;
  line-height: 110%;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 0 20px;
}

@media only screen and (min-width: 1366px) {
  .description {
    padding: 10px 260px 50px;
  }
}
.description {
  padding: 0 35px 50px;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    max-width: 100%;
    padding: 0 24px;
  }
}
@media only screen and (max-width: 1440px) {
  .wrapper {
    max-width: 1000px;
  }
}
