.list li {
  margin: 0 24px;
  padding: 24px 0;
  border-bottom: 1px solid var(--border-color);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sheet {
  max-height: calc(100vh - 76px);
  z-index: 1100;
}
@media (max-width: 600px) {
  .sheet {
    height: 85vh !important;
  }
}
