.headline {
  grid-column-start: 3;
  grid-column-end: -3;
  align-self: auto;
  display: block;
  grid-row-start: auto;
  grid-row-end: auto;
  z-index: 1;
}
.heading {
  font-weight: 450;
  line-height: 1.1;
  letter-spacing: -0.02em;
  font-size: clamp(
    2.3125rem,
    -0.5089285714285716rem + 4.408482142857143vw,
    4.78125rem
  );

  transform: translate(-0.06em);
  margin-bottom: 2.5rem;
  white-space: pre-wrap;
  font-weight: 300;
}
.faq-wrapper {
  align-self: auto;
  display: block;
  grid-row-start: auto;
  grid-row-end: auto;
  grid-column-start: 3;
  grid-column-end: -3;
  z-index: 1;
}
@media (max-width: 500px) {
  .heading {
    font-size: 24px !important;
  }
}
