@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans);
}

@layer base {
  :root {
    --background-color: white;
    --bg-dark: black;
    --text-color: black;
    --hover-color: #60cdff;
    --border-color: #e6e6e6;
    --header-btn-border-width: 0.2rem;
    --header-logo-size: 3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-text;
  }
}
.my-container {
  max-width: 980px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width:1500px){
  .my-container {
    max-width: 1024px;

  }
}