@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans);
}

@layer base {
  :root {
    --background-color: white;
    --bg-dark: black;
    --text-color: black;
    --hover-color: #60cdff;
    --border-color: #e6e6e6;
    --header-btn-border-width: 0.2rem;
    --header-logo-size: 3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-text;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 28px !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  height: 64px !important;
  width: 64px !important;
  border-radius: 50%;
  border: 1px solid black;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.295);
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 20px !important;
  left: 50px !important;
  text-align: left !important;
  bottom: auto !important;
}
.swiper-pagination-bullet {
  width: 120px !important;
  height: 4px !important;
  border-radius: 5px !important;
}
.swiper-pagination-bullet-active {
  background-color: black !important;
}
