.wrap {
  display: grid;
  grid-template-columns: repeat(12, minmax(5px, 1fr));
}
.grid-item {
  grid-column-end: span 2;
}
.grid-item-2 {
  display: block;
  grid-column-end: span 8;
}
.grid-item-3 {
  grid-column-end: span 3;
}
.grid-item-4 {
  grid-column-end: span 6;
  text-align: center;
}
@media (max-width: 600px) {
  .wrap {
    grid-template-columns: repeat(4, minmax(5px, 1fr));
  }
  .grid-item {
    grid-column-end: span 4;
  }
  .grid-item-2 {
    grid-column-end: span 4;
  }
  .grid-item-3 {
    grid-column-end: span 4;
  }
  .grid-item-4 {
    grid-column-end: span 4;
  }
}
